
/****** Object:  UserDefinedFunction [dbo].[FN_GetPayment_Edit]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP FUNCTION [dbo].[FN_GetPayment_Edit]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetCurrentStock]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP FUNCTION [dbo].[Fn_GetCurrentStock]
GO
/****** Object:  StoredProcedure [dbo].[USP_PRODUCTMAP_EDIT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_PRODUCTMAP_EDIT]
GO
/****** Object:  StoredProcedure [dbo].[USP_Getsparelist]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_Getsparelist]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_STOCKREPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_STOCKREPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_StockLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_StockLIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SPARES_SALEDETAILS_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_SPARES_SALEDETAILS_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SPARES_ID_SALESDETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_SPARES_ID_SALESDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SPARES_ID_PURCHASEDETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_SPARES_ID_PURCHASEDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SALESLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_SALESLIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SALES_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_SALES_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PURCHASE_SALES_STOCK_DETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_PURCHASE_SALES_STOCK_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PRODUCTMAPLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_PRODUCTMAPLIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_OVERALL_SALES_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_OVERALL_SALES_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_OVERALL_PURCHASE_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_OVERALL_PURCHASE_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_EDIT_PAYMENTS]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_EDIT_PAYMENTS]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DAYREPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_DAYREPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BILLPAYMENT_CUSTOMER_LIST]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_BILLPAYMENT_CUSTOMER_LIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BILLLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_BILLLIST]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BILL_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_BILL_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BALANCE_DETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_GET_BALANCE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_ADDEDIT_MASTER_PRODUCT]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_ADDEDIT_MASTER_PRODUCT]
GO
/****** Object:  StoredProcedure [dbo].[USP_ADDEDIT_MASTER_PARTY]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[USP_ADDEDIT_MASTER_PARTY]
GO
/****** Object:  StoredProcedure [dbo].[list_expensemain]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[list_expensemain]
GO
/****** Object:  StoredProcedure [dbo].[list_expenselist]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[list_expenselist]
GO
/****** Object:  StoredProcedure [dbo].[list_customerlist]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[list_customerlist]
GO
/****** Object:  StoredProcedure [dbo].[insert_masterexpanse]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[insert_masterexpanse]
GO
/****** Object:  StoredProcedure [dbo].[insert_customer]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[insert_customer]
GO
/****** Object:  StoredProcedure [dbo].[GetUser_List]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[GetUser_List]
GO
/****** Object:  StoredProcedure [dbo].[GetCompanyentry_List]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[GetCompanyentry_List]
GO
/****** Object:  StoredProcedure [dbo].[Edit_Sales_List]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[Edit_Sales_List]
GO
/****** Object:  StoredProcedure [dbo].[Edit_Purchase_List]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[Edit_Purchase_List]
GO
/****** Object:  StoredProcedure [dbo].[edit_expense]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[edit_expense]
GO
/****** Object:  StoredProcedure [dbo].[Edit_BILL_List]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[Edit_BILL_List]
GO
/****** Object:  StoredProcedure [dbo].[dashboard_totals_and_profit]    Script Date: 4/16/2020 7:58:03 AM ******/
DROP PROCEDURE [dbo].[dashboard_totals_and_profit]
GO
/****** Object:  StoredProcedure [dbo].[dashboard_totals_and_profit]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

--exec dashboard_totals_and_profit '',''

CREATE PROCEDURE [dbo].[dashboard_totals_and_profit]

	@fdate as nvarchar(max),

	@tdate as nvarchar(max)

AS

BEGIN

declare @totalsales as decimal(18,2)

declare @totalpurchase as decimal(18,2)

declare @totalexpense as decimal(18,2)

declare @profit as decimal(18,2)

declare @suppliercount as int

declare @dealercount as int



select @totalsales = ISNULL(sum(total),0) from sales_entry where isdeleted=0 and convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@fdate,101) AND convert(varchar(10),@tdate,101)

select @totalpurchase=ISNULL(sum(total),0)  from PURCHASE_ENTRY where isdeleted=0 and convert(varchar(10),entry_date,101) BETWEEN convert(varchar(10),@fdate,101) AND convert(varchar(10),@tdate,101)

select @totalexpense = ISNULL(sum(total),0)  from Expenseentry where isdeleted=0 and convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@fdate,101) AND convert(varchar(10),@tdate,101)

select @suppliercount = count(*) from MasterCustomer where isdeleted=0 and type='Supplier'

select @dealercount = count(*) from MasterCustomer where isdeleted=0 and type='Customer'



select @profit = (@totalsales-(@totalpurchase + @totalexpense))

select @totalsales totalsales,@totalpurchase totalpurchase,@totalexpense totalexpense ,

@suppliercount suppliercount,@dealercount dealercount,@profit profit

END





GO
/****** Object:  StoredProcedure [dbo].[Edit_BILL_List]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      

-- Author:  <Boopathi Sakthi>      

-- Create date: <29/07/2019>      

-- Description: <Description,,>      

-- =============================================      

-- exec Edit_Sales_List '1'      

CREATE PROCEDURE [dbo].[Edit_BILL_List]      

@Sys_Id As Varchar(50)      

AS      

BEGIN      

BEGIN TRY   



  select

  sysid,convert(nvarchar(10),entrydate,101)entrydate,description,total,invoiceno,customersysid,taxtype,roundoff,roundoff_type     

   from     

 BILL_ENTRY SE      

   WHERE 1=1 AND isdeleted=0 AND SE.sysid=@Sys_Id      







select sd.sys_id,SD.entry_sysid,type,spare_sysid,sparename,hsncode,salesprice,isdeleted,amount,qty,taxid,taxname,taxamount
from BILL_DETAIL SD where isdeleted=0 and entry_sysid=@Sys_Id

select sysid,mode,amount,description,billno
from BILL_PAYMENTS  where isdeleted=0 and type='customer' and trans_id=@Sys_Id


END TRY       
BEGIN CATCH      
 RAISERROR ('Error while excuting your request', 16,0)      
END CATCH      
END 



































GO
/****** Object:  StoredProcedure [dbo].[edit_expense]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      

-- Author:  <Boopathi Sakthi>      

-- Create date: <29/07/2019>      

-- Description: <Description,,>      

-- =============================================      

      

-- exec edit_expense '1','1'      

CREATE PROCEDURE [dbo].[edit_expense]      

  @Sys_Id As Varchar(50),      

  @companysysid As Varchar(50)      

AS      

BEGIN      

BEGIN TRY   

     ;      

 WITH result_set AS (      

  select       

  sysid,convert(nvarchar(10),entrydate,101)entrydate,description,total   

   from     

  Expenseentry PE      

   WHERE 1=1 AND isdeleted=0 AND PE.sysid=@Sys_Id      

 )      

 SELECT       

   *       

 FROM       

   result_set  ; 
select * from  ExpenseDetails where isdeleted=0 and entrysysid= @Sys_Id

      

END TRY       

BEGIN CATCH      

 RAISERROR ('Error while excuting your request', 16,0)      

END CATCH      

END 




GO
/****** Object:  StoredProcedure [dbo].[Edit_Purchase_List]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

      

-- exec EDIT_PURCHASE_LIST '1','1'      

CREATE PROCEDURE [dbo].[Edit_Purchase_List]      
  @Sys_Id As Varchar(50),      
  @companysysid As Varchar(50)      
AS      
BEGIN      
BEGIN TRY   
   

  select       
  sys_id,convert(nvarchar(10),entry_date,101)entry_date,supplier_sysid,description,taxtype,roundoff,roundoff_type,total,purchaseno      
   from     
  PURCHASE_ENTRY PE      
   WHERE 1=1 AND isdeleted=0 AND PE.sys_id=@Sys_Id      
   

   select sys_id,spare_sysid,sparename,purchaseprice,hsncode,taxid,qty,taxname,taxamount 
   from PURCHASE_DETAIL PD   
  WHERE 1=1 AND PD.isdeleted=0 AND PD.entry_sysid=@Sys_Id    

  select sysid,mode,amount,description,billno
   from PAYMENTS  where isdeleted=0 and type='supplier' and trans_id=@Sys_Id
      

END TRY       

BEGIN CATCH      

 RAISERROR ('Error while excuting your request', 16,0)      

END CATCH      

END 







GO
/****** Object:  StoredProcedure [dbo].[Edit_Sales_List]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      
-- Author:  <Boopathi Sakthi>      
-- Create date: <29/07/2019>      
-- Description: <Description,,>      
-- =============================================      
-- exec Edit_Sales_List '1'      
CREATE PROCEDURE [dbo].[Edit_Sales_List]      
@Sys_Id As Varchar(50)      
AS      
BEGIN      
BEGIN TRY   

  select
  sysid,convert(nvarchar(10),entrydate,101)entrydate,description,total,invoiceno,customersysid,taxtype,roundoff,roundoff_type     
   from     
  SALES_ENTRY SE      
   WHERE 1=1 AND isdeleted=0 AND SE.sysid=@Sys_Id      



select sd.sys_id,SD.entry_sysid,type,spare_sysid,sparename,hsncode,salesprice,isdeleted,amount,qty,taxid,taxname,taxamount

from SALES_DETAIL SD where isdeleted=0 and entry_sysid=@Sys_Id





select sysid,mode,amount,description,billno

from PAYMENTS  where isdeleted=0 and type='customer' and trans_id=@Sys_Id





END TRY       







BEGIN CATCH      







 RAISERROR ('Error while excuting your request', 16,0)      







END CATCH      







END 



















GO
/****** Object:  StoredProcedure [dbo].[GetCompanyentry_List]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Naveen >  
-- Create date: <04/24/2019>  
-- Description: <Description,,>.  
-- =============================================  
--exec GetCompanyentry_List '1','10','','','','ASC'  
CREATE PROCEDURE [dbo].[GetCompanyentry_List]   
                      
 @intPageNo as int,                           
 @intPageSize as int,                           
 @strSearchBy as varchar(MAX),                               
 @strSearchText as varchar(MAX),  
 @strOrderBy as varchar(MAX),                               
 @strOrderdir as varchar(MAX),                                               
 @companysysid as int                 
-- @intItemCount as  int out             
AS  
BEGIN  
Declare @fromIdx as int                                
Declare @toIdx as int                  
Declare @totalcount as int                                  
                                
Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                
Set @toIdx = (@intPageNo * @intPageSize);      
  
SELECT @totalcount= COUNT(*)from MASTER_COMPANY MC   
INNER JOIN MASTER_CITY MCY ON MCY.SYS_ID=MC.city AND MCY.ISDELETED=0  
INNER JOIN MASTER_STATE MS ON MS.SYS_ID=MC.state AND MS.ISDELETED=0   
 WHERE MC.isdeleted=0   
AND                                
   (                      
     @strSearchText='' OR                           
     (@strSearchBy='name' AND MC.company_name LIKE '%'+@strSearchText+'%') OR                          
     (@strSearchBy='mobile' AND MC.state LIKE '%'+@strSearchText+'%')   
)    
;WITH TEMP AS                              
(  
SELECT ROW_NUMBER() OVER( ORDER BY   
CASE WHEN @strOrderBy='sys_id' AND @strOrderdir='desc' then MC.sys_id end desc,CASE WHEN @strOrderBy='sys_id' then MC.sys_id end,   
CASE WHEN @strOrderBy='name' AND @strOrderdir='desc' then MC.company_name end desc,CASE WHEN @strOrderBy='name' then Mc.company_name end,   
CASE WHEN @strOrderBy='mobile' AND @strOrderdir='desc' then MC.mobileno end desc,CASE WHEN @strOrderBy='mobile' then Mc.mobileno end   
) SNo,  
MC.sys_id,  
MC.email,  
MCY.CITY_NAME,  
MS.STATE_NAME,  
MC.company_name,  
MC.mobileno   
  
  
from MASTER_COMPANY MC   
INNER JOIN MASTER_CITY MCY ON MCY.SYS_ID=MC.city AND MCY.ISDELETED=0  
INNER JOIN MASTER_STATE MS ON MS.SYS_ID=MC.state AND MS.ISDELETED=0   
 WHERE MC.isdeleted=0   
 AND                                
   (                      
     @strSearchText='' OR                           
     (@strSearchBy='name' AND MC.company_name LIKE '%'+@strSearchText+'%') OR                          
     (@strSearchBy='state' AND MC.state LIKE '%'+@strSearchText+'%'))   
       
)    
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx     
select @totalcount c                                 
END  



GO
/****** Object:  StoredProcedure [dbo].[GetUser_List]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Naveen >  
-- Create date: <04/24/2019>  
-- Description: <Description,,>.  
-- =============================================  
--exec GetUser_List '1','10','','','','ASC'  
CREATE PROCEDURE [dbo].[GetUser_List]   
                      
 @intPageNo as int,                           
 @intPageSize as int,                           
 @strSearchBy as varchar(MAX),                               
 @strSearchText as varchar(MAX),  
 @strOrderBy as varchar(MAX),                               
 @strOrderdir as varchar(MAX),                                               
 @companysysid   as int              
-- @intItemCount as  int out             
AS  
BEGIN  
Declare @fromIdx as int                                
Declare @toIdx as int                  
Declare @totalcount as int                                  
                                
Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                
Set @toIdx = (@intPageNo * @intPageSize);      
  
SELECT @totalcount= COUNT(*) from MASTER_USER MU   
INNER JOIN MASTER_SETTINGS MS ON MS.sys_id=MU.usertype  
where MU.isdeleted=0   
AND                                
   (                      
     @strSearchText='' OR                           
     (@strSearchBy='name' AND MU.name LIKE '%'+@strSearchText+'%') OR                          
     (@strSearchBy='mobile' AND MU.mobile LIKE '%'+@strSearchText+'%')   
)    
;WITH TEMP AS                              
(  
SELECT ROW_NUMBER() OVER( ORDER BY   
CASE WHEN @strOrderBy='sys_id' AND @strOrderdir='desc' then MU.sys_id end desc,CASE WHEN @strOrderBy='sys_id' then MU.sys_id end,   
CASE WHEN @strOrderBy='name' AND @strOrderdir='desc' then MU.name end desc,CASE WHEN @strOrderBy='name' then MU.name end,   
CASE WHEN @strOrderBy='MU.mobile' AND @strOrderdir='desc' then MU.mobile end desc,CASE WHEN @strOrderBy='mobile' then MU.mobile end   
) SNo,  
MU.sys_id,  
MU.email,  
MU.logname,  
MU.mobile,  
MS.name UserType,  
MU.name UserName  
  
from MASTER_USER MU INNER JOIN MASTER_SETTINGS MS ON MS.sys_id=MU.usertype  
 WHERE MU.isdeleted=0   
 AND                                
   (                      
     @strSearchText='' OR                           
     (@strSearchBy='name' AND MU.name LIKE '%'+@strSearchText+'%') OR                          
     (@strSearchBy='mobile' AND MU.mobile LIKE '%'+@strSearchText+'%'))   
       
)    
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx     
select @totalcount c                                 
END  



GO
/****** Object:  StoredProcedure [dbo].[insert_customer]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

CREATE PROCEDURE [dbo].[insert_customer] 

	@sysid as int,	
	@statecode as nvarchar(50),
	@name as nvarchar(50),
	@mobile as nvarchar(50),
	@companyname as nvarchar(50),
	@email as nvarchar(50),
	@gstno as nvarchar(50),
	@panno as nvarchar(50),
	@type as nvarchar(50),
	@desc as nvarchar(50),
	@state as nvarchar(50),
	
	@address as nvarchar(50),
	@usersysid as int,
	@companisysid as int
AS
BEGIN
	IF (@sysid = '')
		BEGIN
			INSERT INTO MasterCustomer 
			([Name],[mobile],[companyname],[email],[gstin],[panno],[type],[description],[state],[Address],[comapnysysid],[createdby],[createddate],statecode)
			VALUES
			(@name,@mobile,@companyname,@email,@gstno,@panno,@type,@desc,@state,@address,@companisysid,@usersysid,getdate(),@statecode)
		END
	ELSE
		BEGIN
			update MasterCustomer set [Name]=@name,[mobile]=@mobile,[companyname]=@companyname,[email]=@email,[gstin]=@gstno,
			[state]=@state,[Address]=@address,statecode=@statecode,
			[panno]=@panno,[type]=@type,[description]=@desc,[comapnysysid]=@companisysid,[updatedby]=@usersysid,[updateddate]=getdate()
			where sysid=@sysid
		END
END



GO
/****** Object:  StoredProcedure [dbo].[insert_masterexpanse]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

create PROCEDURE [dbo].[insert_masterexpanse] 

	@sysid as int,	
	@expansename as nvarchar(50),
	@description as nvarchar(50),	
	@usersysid as int,
	@companisysid as int
AS
BEGIN
	IF (@sysid = '')
		BEGIN
			INSERT INTO MasterExpanse
			(expansename,description,[createdby],[createddate])
			VALUES
			(@expansename,@description,@usersysid,getdate())
		END
	ELSE
		BEGIN
			update MasterExpanse set expansename=@expansename,description=@description,[updatedby]=@usersysid,[updateddate]=getdate()
			where sysid=@sysid
		END
END



GO
/****** Object:  StoredProcedure [dbo].[list_customerlist]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
-- =============================================          
-- Author:  <Naveen >          
-- Create date: <04/24/2019>          
-- Description: <Description,,>.          
-- =============================================          
--exec USP_GET_PARTYLIST '1','10','','','lorry_model','ASC'          
CREATE PROCEDURE [dbo].[list_customerlist]           
                              
 @parm1 as varchar(MAX),                                   
 @parm2 as varchar(MAX),                                   
 @intPageNo as int,                                   
 @intPageSize as int,                                   
 @strSearchBy as varchar(MAX),                                       
 @strSearchText as varchar(MAX),          
 @strOrderBy as varchar(MAX),                                       
 @strOrderdir as varchar(MAX),                                                       
 @companysysid as int                                                       
				              
-- @intItemCount as  int out                     
AS          
BEGIN          
 Declare @fromIdx as int                                        
Declare @toIdx as int                          
Declare @totalcount as int                                          
                                        
Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                        
Set @toIdx = (@intPageNo * @intPageSize);              
          
SELECT @totalcount= COUNT(*)         
FROM MasterCustomer mc        
  WHERE  mc.isdeleted=0    and mc.type=@parm1    
AND                                        
   (                              
     @strSearchText='' OR                                   
      (@strSearchBy='name' AND name  LIKE '%'+@strSearchText+'%') OR          
     
     (@strSearchBy='mobile' AND mobile   LIKE '%'+@strSearchText+'%') OR           
     (@strSearchBy='type' AND type   LIKE '%'+@strSearchText+'%') OR           
     (@strSearchBy='companyname' AND companyname LIKE '%'+@strSearchText+'%')  
               
)            
;WITH TEMP AS                                      
(          
SELECT ROW_NUMBER() OVER( ORDER BY           
CASE WHEN @strOrderBy='sys_id' AND @strOrderdir='desc' then mc.sysid end desc,CASE WHEN @strOrderBy='sys_id' then mc.sysid end,           
CASE WHEN @strOrderBy='name' AND @strOrderdir='desc' then mc.name end desc,CASE WHEN @strOrderBy='Party Name' then mc.name end,           
CASE WHEN @strOrderBy='Mobile' AND @strOrderdir='desc' then mc.mobile end desc,CASE WHEN @strOrderBy='Mobile' then mc.mobile end,          
CASE WHEN @strOrderBy='companyname' AND @strOrderdir='desc' then mc.companyname end desc,CASE WHEN @strOrderBy='companyname' then mc.companyname end,          
CASE WHEN @strOrderBy='type' AND @strOrderdir='desc' then Mc.type end desc,CASE WHEN @strOrderBy='type' then Mc.type end          
) SNo,   *
 FROM MasterCustomer  mc        
WHERE mc.isdeleted=0   and mc.type=@parm1        
 AND                                        
   ((                              
     @strSearchText='' OR                                   
      (@strSearchBy='name' AND name  LIKE '%'+@strSearchText+'%') OR          
     
     (@strSearchBy='mobile' AND mobile   LIKE '%'+@strSearchText+'%') OR           
     (@strSearchBy='type' AND type   LIKE '%'+@strSearchText+'%') OR           
     (@strSearchBy='companyname' AND companyname LIKE '%'+@strSearchText+'%')  
    ))          
)            
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx             
select @totalcount c                                         
END 





GO
/****** Object:  StoredProcedure [dbo].[list_expenselist]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      
-- Author:  <Author,,Name>      
-- Create date: <Create Date,,>      
-- Description: <Description,,>      
-- =============================================      
CREATE PROCEDURE [dbo].[list_expenselist]      
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*) from MasterExpanse where isdeleted=0 
  AND                                    
   (                          
     @strSearchText='' OR                               
     (@strSearchBy='expansename' AND expansename LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='description' AND description LIKE '%'+@strSearchText+'%')       
   )        
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY       
    CASE WHEN @strOrderBy='sys_id' AND @strOrderdir='desc' then sysid end desc,CASE WHEN @strOrderBy='sys_id' then sysid end,       
    CASE WHEN @strOrderBy='expansename' AND @strOrderdir='desc' then expansename end desc,CASE WHEN @strOrderBy='expansename' then expansename end,       
    CASE WHEN @strOrderBy='description' AND @strOrderdir='desc' then description end desc,CASE WHEN @strOrderBy='description' then description end      
   ) SNo,  * 
   FROM MasterExpanse WHERE isdeleted=0          
   AND                                    
   (                          
     @strSearchText='' OR                               
     (@strSearchBy='category' AND expansename LIKE '%'+@strSearchText+'%') OR                              
     (@strSearchBy='description' AND description LIKE '%'+@strSearchText+'%'))       
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 





GO
/****** Object:  StoredProcedure [dbo].[list_expensemain]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      
-- Author:  <Author,,Name>      
-- Create date: <Create Date,,>      
-- Description: <Description,,>      
-- ============================================= 
--exec   list_expensemain '1','10','expansename','','sysid','asc','1'   
CREATE PROCEDURE [dbo].[list_expensemain]      
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*) from Expenseentry  ee
   --inner join ExpenseDetails ed on ee.sysid=ed.entrysysid and ed.isdeleted=0
   where ee.isdeleted=0 
  AND                                    
   (                          
     @strSearchText='' OR                               
     (@strSearchBy='entrydate' AND CONVERT(nvarchar(50),ee.entrydate,103) LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='description' AND ee.description LIKE '%'+@strSearchText+'%')       
   )     
   group by entrydate,description,total,ee.sysid   
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY       
    CASE WHEN @strOrderBy='sys_id' AND @strOrderdir='desc' then ee.sysid end desc,CASE WHEN @strOrderBy='sys_id' then ee.sysid end,       
    CASE WHEN @strOrderBy='entrydate' AND @strOrderdir='desc' then CONVERT(nvarchar(50),ee.entrydate,103) end desc,CASE WHEN @strOrderBy='entrydate' then CONVERT(nvarchar(50),ee.entrydate,103) end,       
    CASE WHEN @strOrderBy='description' AND @strOrderdir='desc' then description end desc,CASE WHEN @strOrderBy='description' then description end      
   ) SNo,CONVERT(nvarchar(50),ee.entrydate,103)entrydate,ee.description,ee.total,ee.sysid 
   FROM Expenseentry  ee
   inner join ExpenseDetails ed on ee.sysid=ed.entrysysid and ed.isdeleted=0
   where ee.isdeleted=0         
   AND                                    
   (                          
     @strSearchText='' OR                               
    (@strSearchBy='entrydate' AND CONVERT(nvarchar(50),ee.entrydate,103) LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='description' AND ee.description LIKE '%'+@strSearchText+'%')      )    
	  group by entrydate,description,total,ee.sysid   
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 




GO
/****** Object:  StoredProcedure [dbo].[USP_ADDEDIT_MASTER_PARTY]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Naveen>
-- Create date: <13/05/2019>
-- Description:	<insert lorry details>
-- =============================================
Create PROCEDURE [dbo].[USP_ADDEDIT_MASTER_PARTY]
	@Sysid as nvarchar(max),
	@PartyName as nvarchar(max),
	@Mobile as nvarchar(max),
	@GSTNO as nvarchar(max),
	@Address as nvarchar(max),
	@Description as nvarchar(max),
	@CompanySysid as nvarchar(max),
	@UserSysid as nvarchar(max)
	
AS
BEGIN

IF (@Sysid='')
BEGIN
	Insert Into MASTER_PARTY (party_name,mobile,gst_no,address,description,company_sysid,created_by,created_date) 
	values(@PartyName,@Mobile,@GSTNO,@Address,@Description,@CompanySysid,@UserSysid,GETDATE())
END
ELSE
BEGIN
	UPDATE MASTER_PARTY SET party_name=@PartyName,mobile=@Mobile,
	gst_no=@GSTNO,address=@Address,description=@Description,
	company_sysid = @CompanySysid,modified_by=@UserSysid,modified_date=GETDATE() WHERE sys_id=@Sysid
END
	
END




GO
/****** Object:  StoredProcedure [dbo].[USP_ADDEDIT_MASTER_PRODUCT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author:  <Naveen>  
-- Create date: <30/05/2019>  
-- Description: <insert lorry details>  
-- =============================================  
CREATE PROCEDURE [dbo].[USP_ADDEDIT_MASTER_PRODUCT]  
 @Sysid as nvarchar(max),  
 @PartyNumber as nvarchar(max),  
 @Partdesc as nvarchar(max),  
 @Category as nvarchar(max),  
 @BinLocation as nvarchar(max),  
 @Stock as nvarchar(max),  
 @CompanySysid as nvarchar(max),  
 @UserSysid as nvarchar(max)  
   
AS  
BEGIN  
  
IF (@Sysid='')  
BEGIN  
 Insert Into MASTER_PRODUCT (partnumber,partdescription,part_category,binlocation,stock,company_sysid,created_by,created_date)   
 values(@PartyNumber,@Partdesc,@Category,@BinLocation,@Stock,@CompanySysid,@UserSysid,GETDATE())  

 INSERT INTO PrductStock (productid,company_sysid,openingstock,stockinhand)VALUES
 ( IDENT_CURRENT( 'MASTER_PRODUCT' ) ,@CompanySysid,@Stock,0)
END  
ELSE  
BEGIN  
 UPDATE MASTER_PRODUCT SET partnumber=@PartyNumber,partdescription=@Partdesc,  
 part_category=@Category,binlocation=@BinLocation,stock=@Stock,  
 company_sysid = @CompanySysid,modified_by=@UserSysid,modified_date=GETDATE() WHERE sys_id=@Sysid  
END  
   
END  




GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BALANCE_DETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================



--exec USP_GET_BALANCE_DETAILS '03/01/2020','04/11/2020','customer','0'

CREATE PROCEDURE [dbo].[USP_GET_BALANCE_DETAILS]

	@fdate as VARCHAR(MAX),

	@tdate as VARCHAR(MAX),

	@type as varchar(max),

	@sysid as varchar(max)

AS

BEGIN

	iF(@type='customer')

	begin

			select ROW_NUMBER() OVER(order by Name asc)sno,Name,COUNT(*)TotalInvoice,mobile,ISNULL(SUM(total),0)total,
		(ISNULL(SUM(total),0)-(Select ISNULL(sum(amount),0)amount
		 from PAYMENTS PE INNER JOIN SALES_ENTRY SE ON SE.sysid=PE.trans_id and SE.isdeleted=0 
		 where type='Customer' and PE.isdeleted=0  and trans_id=SE.sysid and SE.customersysid=MC.sysid
		and  SE.entrydate between @fdate and @tdate group by SE.customersysid ))balance
		 from SALES_ENTRY SE

		INNER JOIN MasterCustomer MC ON MC.sysid=SE.customersysid where (@sysid='0' or SE.customersysid=@sysid) and  SE.isdeleted=0 and 

		SE.entrydate between @fdate and @tdate   group by Name,mobile,SE.customersysid,MC.sysid

	end

	else

	begin

			select ROW_NUMBER() OVER(order by Name asc)sno,Name,COUNT(*)TotalInvoice,mobile,ISNULL(SUM(total),0)total,
		(ISNULL(SUM(total),0)-(Select ISNULL(sum(amount),0)amount from PAYMENTS P INNER JOIN PURCHASE_ENTRY PE ON PE.sys_id=P.trans_id and PE.isdeleted=0 where type='supplier' and PE.isdeleted=0  and trans_id=PE.sys_id and PE.supplier_sysid=MC.sysid and  PE.entry_date between @fdate and @tdate))balance
		 from PURCHASE_ENTRY PE
		 INNER JOIN MasterCustomer MC ON MC.sysid=PE.supplier_sysid
		  where (@sysid='0' or PE.supplier_sysid=@sysid) and PE.isdeleted=0 and PE.entry_date between @fdate and @tdate group by Name,mobile,PE.supplier_sysid,MC.sysid

	end

END

GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BILL_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================



-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

--exec USP_GET_BILL_REPORT '1'

CREATE PROCEDURE [dbo].[USP_GET_BILL_REPORT]

	@SYSID as INT

AS

BEGIN



   SELECT convert(varchar(10),entrydate,105)entrydate,MC.statecode,NAMe customername,(case when MC.gstin='' then 0 else gstin end)gstin ,panno,Address,mobile,MS.STATE_NAME,invoiceno,total,roundoff FROM BILL_ENTRY SE

   INNER JOIN MASTERCUSTOMER MC on MC.sysid=SE.customersysid and MC.isdeleted=0

   INNER JOIN MASTER_STATE MS on MS.sys_id=MC.state and MS.isdeleted=0

    where SE.sysid=@SYSID and SE.isdeleted=0



   SELECT ROW_NUMBER() over(order by sys_id asc)sno,sparename,hsncode,qty,salesprice rate,amount assessablevalue,taxid,

   taxname,cast((taxamount/2) as decimal(18,2))cgst,cast((taxamount/2) as decimal(18,2))sgst,

  (case when taxtype='Exclusive' then (amount+taxamount) else (amount) end)amount  FROM BILL_DETAIL SD

   inner join BILL_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0

    where entry_sysid=@SYSID and SD.isdeleted=0



  select sum(cast((taxamount/2) as decimal(18,2)))cgst,sum(cast((taxamount/2) as decimal(18,2)))sgst, (case when taxtype='Exclusive' then (sum(amount)) else (sum(amount)-sum(taxamount)) end)assessablevalue,taxid,taxname,

 case when taxtype='Exclusive' then (sum(amount)+sum(taxamount)) else (sum(amount)) end amount

  FROM BILL_DETAIL SD  

	inner join BILL_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0  where entry_sysid=@SYSID and sd.isdeleted=0 group by taxid,taxname,taxtype











   select sum(cast((taxamount/2) as decimal(18,2)))cgst,sum(cast((taxamount/2) as decimal(18,2)))sgst,(SELECT   (case when taxtype='Exclusive' then (sum(amount)) else (sum(amount)-sum(taxamount)) end) FROM BILL_DETAIL SD   inner join BILL_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0 where entry_sysid=@SYSID group by taxtype)assessablevalue,taxid,taxname,

	 (SELECT   (case when taxtype='Exclusive' then (sum(amount)+sum(taxamount)) else (sum(amount)) end) FROM BILL_DETAIL SD   inner join BILL_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0 where entry_sysid=@SYSID group by taxtype)amount

	  from BILL_DETAIL where entry_sysid=@SYSID and isdeleted=0 group by taxid,taxname





END





GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BILLLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================                    



-- Author:  <Naveen >                    



-- Create date: <04/24/2019>                    



-- Description: <Description,,>.                    



-- =============================================                    



--exec USP_GET_SALESLIST '1','10','','','lorry_model','ASC','1'                    



CREATE PROCEDURE [dbo].[USP_GET_BILLLIST]                     



                                        



 @intPageNo as int,                                             



 @intPageSize as int,                                             



 @strSearchBy as varchar(MAX),                                                 



 @strSearchText as varchar(MAX),                    



 @strOrderBy as varchar(MAX),                                                 



 @strOrderdir as varchar(MAX),                                                               



 @companysysid as int                                      



-- @intItemCount as  int out                               



AS                    



BEGIN                    



 Declare @fromIdx as int                                                  



Declare @toIdx as int                                    



Declare @totalcount as int                                                    



                                                  



Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                                  



Set @toIdx = (@intPageNo * @intPageSize);                        



                    



SELECT @totalcount= COUNT(*)                   
FROM BILL_ENTRY SE        
 INNER JOIN MasterCustomer MC On MC.sysid=SE.customersysid and MC.isdeleted=0     
 INNER JOIN MASTER_USER MU ON MU.SYS_ID=SE.createdby AND MU.ISDELETED=0                 



WHERE SE.isdeleted=0 and se.company_sysid=@companysysid            

AND                                                  
   (                                        
     @strSearchText='' OR                                             
     (@strSearchBy='logname' AND logname LIKE '%'+@strSearchText+'%') OR                    
     (@strSearchBy='entrydate' AND convert(varchar(10),entrydate,105)    LIKE '%'+@strSearchText+'%') OR  
	 (@strSearchBy='customername' AND  MC.Name   LIKE '%'+@strSearchText+'%') OR                                
     (@strSearchBy='invoiceno' AND SE.invoiceno LIKE '%'+@strSearchText+'%')                      

)                      

;WITH TEMP AS                                                
(                    
SELECT ROW_NUMBER() OVER( ORDER BY                     
CASE WHEN @strOrderBy='sysid' AND @strOrderdir='desc' then SE.sysid end desc,CASE WHEN @strOrderBy='sysid' then SE.sysid end,                     
CASE WHEN @strOrderBy='entrydate' AND @strOrderdir='desc' then entrydate end desc,CASE WHEN @strOrderBy='entrydate' then entrydate end,                    
CASE WHEN @strOrderBy='logname' AND @strOrderdir='desc' then logname end desc,CASE WHEN @strOrderBy='logname' then logname end,                    
CASE WHEN @strOrderBy='invoiceno' AND @strOrderdir='desc' then invoiceno end desc,CASE WHEN @strOrderBy='invoiceno' then invoiceno end                    
) SNo,                    
SE.sysid,                    
CONVERT(VARCHAR(10),entrydate,105)entrydate,   
invoiceno,                 
 MC.Name,         
 logname,                
 (total-(select ISNULL(sum(amount),0) from BILL_PAYMENTS where trans_id=SE.sysid and type='customer' and isdeleted=0))balance,
total                 

 FROM BILL_ENTRY SE         
 INNER JOIN MASTER_USER MU ON MU.SYS_ID=SE.createdby AND MU.ISDELETED=0  
 INNER JOIN MasterCustomer MC On MC.sysid=SE.customersysid and MC.isdeleted=0     
 WHERE SE.isdeleted=0 and se.company_sysid=@companysysid              



 AND                                                  
   ((                                        
     @strSearchText='' OR                                             
     (@strSearchBy='logname' AND logname LIKE '%'+@strSearchText+'%') OR                    
     (@strSearchBy='customername' AND MC.Name   LIKE '%'+@strSearchText+'%') OR  
     (@strSearchBy='entrydate' AND convert(varchar(10),entrydate,105)   LIKE '%'+@strSearchText+'%') OR                     
     (@strSearchBy='invoiceno' AND SE.invoiceno LIKE '%'+@strSearchText+'%')             
    ))                    



)                      



SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx                  
select @totalcount c                                                   



END 



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_BILLPAYMENT_CUSTOMER_LIST]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================                    

-- Author:  <Naveen >                    

-- Create date: <04/24/2019>                    

-- Description: <Description,,>.                    

-- =============================================                    

--exec USP_GET_BILLPAYMENT_CUSTOMER_LIST '1','10','','','lorry_model','ASC','1'                    

CREATE PROCEDURE [dbo].[USP_GET_BILLPAYMENT_CUSTOMER_LIST]                     
 @intPageNo as int,                                             
 @intPageSize as int,                                             
 @strSearchBy as varchar(MAX),                                                 
 @strSearchText as varchar(MAX),                    
 @strOrderBy as varchar(MAX),                                                 
 @strOrderdir as varchar(MAX),                                                               
 @companysysid as int  ,
 @type as varchar(max)                                    

-- @intItemCount as  int out                               

AS                    

BEGIN                    

 Declare @fromIdx as int                                                  
 Declare @toIdx as int                                    
 Declare @totalcount as int                                                    

                                                  

Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                                  
Set @toIdx = (@intPageNo * @intPageSize);                        

                    

SELECT @totalcount= COUNT(*)                   
 from Payments PE 
inner join MasterCustomer MC on MC.sysid=PE.typeid and MC.type=@type
 where billno !='purchase' and billno !='sales' and PE.isdeleted=0 and PE.companysysid=@companysysid          

AND                                                  

   (                                        
     @strSearchText='' OR                                             
     (@strSearchBy='billno' AND billno   LIKE '%'+@strSearchText+'%') OR  
	 (@strSearchBy='billdate' AND billdate   LIKE '%'+@strSearchText+'%') OR                                
     (@strSearchBy='Name' AND Name LIKE '%'+@strSearchText+'%')                      
)   group by billno,billdate,paidamount,Name,mode                       

;WITH TEMP AS                                                

(                    

SELECT             

  ROW_NUMBER() over(order by billno desc)sno,billno,convert(varchar(10),billdate,101)billdate,paidamount,MC.Name,mode             
  from Payments PE 
  inner join MasterCustomer MC on MC.sysid=PE.typeid  and MC.type=@type
  where billno !='purchase' and billno !='sales' and PE.isdeleted=0 and PE.companysysid=@companysysid          

AND                                                  
   (                                        
     @strSearchText='' OR                                             
     (@strSearchBy='billno' AND billno   LIKE '%'+@strSearchText+'%') OR  
	 (@strSearchBy='billdate' AND billdate   LIKE '%'+@strSearchText+'%') OR                                
     (@strSearchBy='Name' AND Name LIKE '%'+@strSearchText+'%')                      
)  group by billno,billdate,paidamount,Name,mode  
)
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx                  

select @totalcount c                                                   

END 



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_DAYREPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================



-- Author:		<Author,,Name>



-- Create date: <Create Date,,>



-- Description:	<Description,,>



-- =============================================

--exec USP_GET_DAYREPORT '1','04/01/2020','04/08/2020'





CREATE PROCEDURE [dbo].[USP_GET_DAYREPORT]

	@COMPANY_SYS_ID AS NVARCHAR(MAX), 

    @FROM_DATE AS NVARCHAR(MAX),  

    @TO_DATE AS NVARCHAR(MAX)

	

AS



BEGIN

  

select SE.sysid,convert(varchar(10),entrydate,105)entrydate,total,invoiceno transaction_no,'Sales' as type,Name from SALES_ENTRY SE

inner join MasterCustomer MC on MC.sysid=SE.customersysid  where 

SE.isdeleted=0 and convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101) and SE.company_sysid=@COMPANY_SYS_ID



select PE.sys_id,convert(varchar(10),entry_date,105)entrydate,total,purchaseno transaction_no,'Purchase' as type,Name from PURCHASE_ENTRY PE

inner join MasterCustomer MC on MC.sysid=PE.supplier_sysid 

 where PE.isdeleted=0  and PE.company_sysid=@COMPANY_SYS_ID and convert(varchar(10),entry_date,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101)



select EE.sysid,convert(varchar(10),entrydate,105)entrydate,total,'-' as transaction_no,'Expense' as type,name Name from Expenseentry EE

inner join MASTER_USER MU on MU.sys_id=EE.createdby 

 where EE.isdeleted=0 and EE.companysysid=@COMPANY_SYS_ID  and  convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101)




END





GO
/****** Object:  StoredProcedure [dbo].[USP_GET_EDIT_PAYMENTS]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_GET_EDIT_PAYMENTS]
	@billno as varchar(max)
AS
BEGIN
		select sysid,billno,convert(varchar(10),billdate,101)billdate,type,typeid,mode,description,paidamount,trans_id,trans_no,convert(varchar(10),trans_date,101)trans_date,amount,balance,trans_total 
                    from PAYMENTS where billno=@billno
END



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_OVERALL_PURCHASE_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

--exec USP_GET_OVERALL_SALES_REPORT

CREATE PROCEDURE [dbo].[USP_GET_OVERALL_PURCHASE_REPORT]

	@COMPANY_SYS_ID AS NVARCHAR(MAX), 

    @FROM_DATE AS NVARCHAR(MAX),  

    @TO_DATE AS NVARCHAR(MAX),

	@CUSTOMER_SYSID as vARCHAR(MAX)  

AS

BEGIN

	select ROW_NUMBER() over(order by PE.sys_id desc)sno,PE.sys_id,purchaseno,convert(varchar(10),entry_date,105)entrydate,Name,cast(total as decimal(18,2))total

 from PURCHASE_ENTRY PE

 inner join MasterCustomer MC on MC.sysid=PE.supplier_sysid and MC.isdeleted=0

   where PE.isdeleted=0 and (@CUSTOMER_SYSID='0' or PE.supplier_sysid=@CUSTOMER_SYSID)

   AND convert(varchar(10),entry_date,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101) and PE.company_sysid=@COMPANY_SYS_ID  

END



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_OVERALL_SALES_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

--exec USP_GET_OVERALL_SALES_REPORT

CREATE PROCEDURE [dbo].[USP_GET_OVERALL_SALES_REPORT]

	@COMPANY_SYS_ID AS NVARCHAR(MAX), 

    @FROM_DATE AS NVARCHAR(MAX),  

    @TO_DATE AS NVARCHAR(MAX),

	@CUSTOMER_SYSID as vARCHAR(MAX)  

AS

BEGIN

	select ROW_NUMBER() over(order by SE.sysid desc)sno,SE.sysid,invoiceno,convert(varchar(10),entrydate,105)entrydate,Name,cast(total as decimal(18,2))total

 from SALES_ENTRY SE

 inner join MasterCustomer MC on MC.sysid=SE.customersysid and MC.isdeleted=0

   where SE.isdeleted=0 and (@CUSTOMER_SYSID='0' or SE.customersysid=@CUSTOMER_SYSID)

   AND convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101) and SE.company_sysid=@COMPANY_SYS_ID  

END



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PRODUCTMAPLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[USP_GetCategorylist]    Script Date: 3/14/2020 8:59:07 AM ******/

-- =============================================      
-- Author:  <Author,,Name>      
-- Create date: <Create Date,,>      
-- Description: <Description,,>      
-- =============================================     
--exec USP_GET_PRODUCTMAPLIST '1',5,'','','','','1'
CREATE PROCEDURE [dbo].[USP_GET_PRODUCTMAPLIST]      
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*)  from PRODUCTMAP_ENTRY PE
    INNER JOIN MASTER_USER MU on MU.sys_id=PE.createdby and MU.isdeleted=0 
	where pE.isdeleted=0 and PE.company_sysid=@companysysid   
  AND                                    
   (                          
     @strSearchText='' OR                               
     (@strSearchBy='productname' AND PE.productname LIKE '%'+@strSearchText+'%') OR
	   (@strSearchBy='hsn' AND hsn LIKE '%'+@strSearchText+'%')       
   )        
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY       
    CASE WHEN @strOrderBy='sysid' AND @strOrderdir='desc' then sysid end desc,CASE WHEN @strOrderBy='sysid' then sysid end,       
    CASE WHEN @strOrderBy='productname' AND @strOrderdir='desc' then PE.productname end desc,CASE WHEN @strOrderBy='productname' then PE.productname end,       
    CASE WHEN @strOrderBy='hsn' AND @strOrderdir='desc' then hsn end desc,CASE WHEN @strOrderBy='hsn' then hsn end 
	   
   )sno,      
  MU.name,Convert(varchar(10),PE.created_date,105)created_date, PE.productname,PE.sysid,PE.hsn from PRODUCTMAP_ENTRY PE
    INNER JOIN MASTER_USER MU on MU.sys_id=PE.createdby and MU.isdeleted=0 
	where pE.isdeleted=0 and PE.company_sysid=@companysysid   
  AND                                    
   (                          
     @strSearchText='' OR                               
     (@strSearchBy='productname' AND PE.productname LIKE '%'+@strSearchText+'%') OR
	   (@strSearchBy='hsn' AND hsn LIKE '%'+@strSearchText+'%')  
     
	 
	 )       
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_PURCHASE_SALES_STOCK_DETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[USP_GetCategorylist]    Script Date: 3/14/2020 8:59:07 AM ******/

-- =============================================      
-- Author:  <Author,,Name>      
-- Create date: <Create Date,,>      
-- Description: <Description,,>      
-- =============================================     
--exec USP_GET_PURCHASE_SALES_STOCK_DETAILS '04/14/2020','04/15/2020','1','10','','','','','1'
CREATE PROCEDURE [dbo].[USP_GET_PURCHASE_SALES_STOCK_DETAILS] 
 @parm1 as varchar(MAX), 
 @parm2 as varchar(MAX),  
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*) from MASTER_SPARE MS where MS.company_sysid=@companysysid 
 
  AND                                    
   (                          
     @strSearchText='' OR                               
       (@strSearchBy='sparename' AND MS.sparename LIKE '%'+@strSearchText+'%')     
   )        
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY       
    CASE WHEN @strOrderBy='sysid' AND @strOrderdir='desc' then MS.sysid end desc,CASE WHEN @strOrderBy='sysid' then MS.sysid end,         
    CASE WHEN @strOrderBy='sparename' AND @strOrderdir='desc' then sparename end desc,CASE WHEN @strOrderBy='sparename' then sparename end  
   ) sno,      
   MS.sparename,MS.sysid,
(isnull((select sum(qty) from PURCHASE_DETAIL where isdeleted=0 and  CONVERT(varchar(10),created_date,101) between CONVERT(varchar(10),@parm1,101) and CONVERT(varchar(10),@parm2,101)  and spare_sysid=MS.sysid group by spare_sysid),0)+openingstock) purchaseqty,
(ISNULL((select sum(qty) from SALES_DETAIL where isdeleted=0 and CONVERT(varchar(10),created_date,101) between CONVERT(varchar(10),@parm1,101) and CONVERT(varchar(10),@parm2,101) and spare_sysid=MS.sysid and type='Spare' group by spare_sysid),0)+
(ISNULL((select sum(SD.qty) from PRODUCTMAP_DETAILS PD inner join SALES_DETAIL SD on SD.spare_sysid=PD.entry_sysid and type='System' and CONVERT(varchar(10),created_date,101) between CONVERT(varchar(10),@parm1,101) and CONVERT(varchar(10),@parm2,101) and PD.spare_sysid=MS.sysid  group by PD.spare_sysid),0)*isnull((select PD.qty from PRODUCTMAP_DETAILS PD inner join SALES_DETAIL SD on SD.spare_sysid=PD.entry_sysid and type='System' and PD.spare_sysid=MS.sysid),0)))salesqty
 from MASTER_SPARE MS where isdeleted=0 and company_sysid=@companysysid      
   AND                                    
   (                          
     @strSearchText='' OR                               
    
	   (@strSearchBy='sparename' AND sparename LIKE '%'+@strSearchText+'%')    
      
	 
	 )       
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SALES_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>



-- =============================================







--exec USP_GET_SALES_REPORT '1'
CREATE PROCEDURE [dbo].[USP_GET_SALES_REPORT]
	@SYSID as INT

AS
BEGIN



   SELECT convert(varchar(10),entrydate,105)entrydate,NAMe customername,MC.gstin,panno,Address,mobile,MS.STATE_NAME,invoiceno FROM SALES_ENTRY SE
   INNER JOIN MASTERCUSTOMER MC on MC.sysid=SE.customersysid and MC.isdeleted=0
   INNER JOIN MASTER_STATE MS on MS.sys_id=MC.state and MS.isdeleted=0
    where SE.sysid=@SYSID and SE.isdeleted=0







   SELECT ROW_NUMBER() over(order by sys_id asc)sno,sparename,hsncode,qty,salesprice rate,amount assessablevalue,taxid,
   taxname,cast((taxamount/2) as decimal(18,2))cgst,cast((taxamount/2) as decimal(18,2))sgst,
  (case when taxtype='Exclusive' then (amount+taxamount) else (amount) end)amount  FROM SALES_DETAIL SD
   inner join SALES_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0
    where entry_sysid=@SYSID and SD.isdeleted=0


  select sum(cast((taxamount/2) as decimal(18,2)))cgst,sum(cast((taxamount/2) as decimal(18,2)))sgst,sum(amount)assessablevalue,taxid,taxname,
 case when taxtype='Exclusive' then (sum(amount)+sum(taxamount)) else (sum(amount)) end amount
  FROM SALES_DETAIL SD  
	inner join SALES_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0  where entry_sysid=@SYSID and sd.isdeleted=0 group by taxid,taxname,taxtype






   select sum(cast((taxamount/2) as decimal(18,2)))cgst,sum(cast((taxamount/2) as decimal(18,2)))sgst,sum(amount)assessablevalue,taxid,taxname,
	 (SELECT   (case when taxtype='Exclusive' then (sum(amount)+sum(taxamount)) else (sum(amount)) end) FROM SALES_DETAIL SD   inner join SALES_ENTRY SE ON SE.sysid=SD.entry_sysid and se.isdeleted=0 where entry_sysid=@SYSID group by taxtype)amount
	  from SALES_DETAIL where entry_sysid=@SYSID and isdeleted=0 group by taxid,taxname







	



END



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SALESLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================                    

-- Author:  <Naveen >                    

-- Create date: <04/24/2019>                    

-- Description: <Description,,>.                    

-- =============================================                    

--exec USP_GET_SALESLIST '1','10','','','lorry_model','ASC','1'                    

CREATE PROCEDURE [dbo].[USP_GET_SALESLIST]                     

                                        

 @intPageNo as int,                                             

 @intPageSize as int,                                             

 @strSearchBy as varchar(MAX),                                                 

 @strSearchText as varchar(MAX),                    

 @strOrderBy as varchar(MAX),                                                 

 @strOrderdir as varchar(MAX),                                                               

 @companysysid as int                                      

-- @intItemCount as  int out                               

AS                    

BEGIN                    

 Declare @fromIdx as int                                                  

Declare @toIdx as int                                    

Declare @totalcount as int                                                    

                                                  

Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                                  

Set @toIdx = (@intPageNo * @intPageSize);                        

                    

SELECT @totalcount= COUNT(*)                   

FROM SALES_ENTRY SE        

 INNER JOIN MasterCustomer MC On MC.sysid=SE.customersysid and MC.isdeleted=0     
    

 INNER JOIN MASTER_USER MU ON MU.SYS_ID=SE.createdby AND MU.ISDELETED=0                 

WHERE SE.isdeleted=0 and se.company_sysid=@companysysid            

AND                                                  

   (                                        

     @strSearchText='' OR                                             

     (@strSearchBy='logname' AND logname LIKE '%'+@strSearchText+'%') OR                    

               

     (@strSearchBy='entrydate' AND CONVERT(varchar(10),entrydate,105)   LIKE '%'+@strSearchText+'%') OR  
	   (@strSearchBy='customername' AND  MC.Name   LIKE '%'+@strSearchText+'%') OR                                

     (@strSearchBy='invoiceno' AND SE.invoiceno LIKE '%'+@strSearchText+'%')                      

                 

                         

)                      

;WITH TEMP AS                                                

(                    

SELECT ROW_NUMBER() OVER( ORDER BY                     

CASE WHEN @strOrderBy='sysid' AND @strOrderdir='desc' then SE.sysid end desc,CASE WHEN @strOrderBy='sysid' then SE.sysid end,                     

CASE WHEN @strOrderBy='entrydate' AND @strOrderdir='desc' then entrydate end desc,CASE WHEN @strOrderBy='entrydate' then entrydate end,                    

CASE WHEN @strOrderBy='logname' AND @strOrderdir='desc' then logname end desc,CASE WHEN @strOrderBy='logname' then logname end,                    

CASE WHEN @strOrderBy='invoiceno' AND @strOrderdir='desc' then invoiceno end desc,CASE WHEN @strOrderBy='invoiceno' then invoiceno end                    

) SNo,                    

 SE.sysid,                    

CONVERT(VARCHAR(10),entrydate,105)entrydate,   
invoiceno,                 

       MC.Name,         

 logname,                

 (total-(select ISNULL(sum(amount),0) from PAYMENTS where trans_id=SE.sysid and type='customer' and isdeleted=0))balance,

total                 

                   

 FROM SALES_ENTRY SE         

 INNER JOIN MASTER_USER MU ON MU.SYS_ID=SE.createdby AND MU.ISDELETED=0  
 INNER JOIN MasterCustomer MC On MC.sysid=SE.customersysid and MC.isdeleted=0     


                

WHERE SE.isdeleted=0 and se.company_sysid=@companysysid              

 AND                                                  

   ((                                        

     @strSearchText='' OR                                             

      (@strSearchBy='logname' AND logname LIKE '%'+@strSearchText+'%') OR                    

                (@strSearchBy='customername' AND MC.Name   LIKE '%'+@strSearchText+'%') OR  

     (@strSearchBy='entrydate' AND CONVERT(varchar(10),entrydate,105)     LIKE '%'+@strSearchText+'%') OR                     

     (@strSearchBy='invoiceno' AND SE.invoiceno LIKE '%'+@strSearchText+'%')             

    ))                    

)                      

SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx                  

select @totalcount c                                                   

END 



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SPARES_ID_PURCHASEDETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================







-- Author:		<Author,,Name>







-- Create date: <Create Date,,>







-- Description:	<Description,,>







-- =============================================







--exec USP_GET_SPARES_ID_SALESDETAILS '1','04/01/2020','04/07/2020','S











CREATE PROCEDURE [dbo].[USP_GET_SPARES_ID_PURCHASEDETAILS]
	
    @FROM_DATE AS NVARCHAR(MAX),  
    @TO_DATE AS NVARCHAR(MAX),
	@spare_sysid as NVARCHAR(MAX)
AS
BEGIN

		
		select ROW_NUMBER() over(order by PE.sys_id asc)sno,sum(qty)purchasecount,sparename,Name,PD.spare_sysid,hsncode,PE.sys_id,convert(varchar(10),entry_date,105)entrydate,purchaseno from PURCHASE_DETAIL PD
		Inner join PURCHASE_ENTRY PE ON PE.sys_id=PD.entry_sysid and PE.isdeleted=0
		left join MasterCustomer MC ON MC.sysid=PE.supplier_sysid
		where PD.isdeleted=0 and PD.spare_sysid=@spare_sysid and
		convert(varchar(10),entry_date,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101)
		    group by PE.sys_id,spare_sysid,sparename,Name,hsncode,entry_date,purchaseno





END









GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SPARES_ID_SALESDETAILS]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================



-- Author:		<Author,,Name>



-- Create date: <Create Date,,>



-- Description:	<Description,,>



-- =============================================



--exec USP_GET_SPARES_ID_SALESDETAILS '1','04/01/2020','04/07/2020','S





CREATE PROCEDURE [dbo].[USP_GET_SPARES_ID_SALESDETAILS]

	@COMPANY_SYS_ID AS NVARCHAR(MAX), 

    @FROM_DATE AS NVARCHAR(MAX),  

    @TO_DATE AS NVARCHAR(MAX),

	@TYPE as vARCHAR(MAX) , 

	@spare_sysid as NVARCHAR(MAX)

AS



BEGIN

  

        

		select ROW_NUMBER() over(order by SE.sysid asc)sno,sum(qty)salescount,sparename,Name,SD.type,SD.spare_sysid,hsncode,SE.sysid,convert(varchar(10),entrydate,105)entrydate,invoiceno from SALES_DETAIL SD
		Inner join SALES_ENTRY SE ON SE.sysid=SD.entry_sysid and SE.isdeleted=0
		left join MasterCustomer MC ON MC.sysid=SE.customersysid
		 where SD.isdeleted=0 and SD.spare_sysid=@spare_sysid and
		  convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101)

		 AND SD.type=@TYPE   group by SE.sysid,spare_sysid,sparename,Name,SD.type,hsncode,entrydate,invoiceno


END





GO
/****** Object:  StoredProcedure [dbo].[USP_GET_SPARES_SALEDETAILS_REPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================

-- Author:		<Author,,Name>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

--exec USP_GET_SPARES_SALEDETAILS_REPORT

CREATE PROCEDURE [dbo].[USP_GET_SPARES_SALEDETAILS_REPORT]
	@COMPANY_SYS_ID AS NVARCHAR(MAX), 
    @FROM_DATE AS NVARCHAR(MAX),  
    @TO_DATE AS NVARCHAR(MAX),
	@TYPE as vARCHAR(MAX)  
AS

BEGIN

		select  ROW_NUMBER() over(order by sparename asc)sno,sum(qty)salescount,sparename,SD.type,spare_sysid,hsncode from SALES_DETAIL SD
		Inner join SALES_ENTRY SE ON SE.sysid=SD.entry_sysid and SE.isdeleted=0
		left join MasterCustomer MC ON MC.sysid=SE.customersysid
		where SD.isdeleted=0 and SD.type=@TYPE
		AND convert(varchar(10),entrydate,101) BETWEEN convert(varchar(10),@FROM_DATE,101)  AND convert(varchar(10),@TO_DATE,101)
		and SE.company_sysid=@COMPANY_SYS_ID  
	    group by spare_sysid,sparename,SD.type,hsncode

   

END



GO
/****** Object:  StoredProcedure [dbo].[USP_GET_StockLIST]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec USP_GET_StockLIST '1',5,'','','','','1'
CREATE PROCEDURE [dbo].[USP_GET_StockLIST]      
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*)   FROM PURCHASE_ENTRY PE
   INNER JOIN MasterCustomer MC on MC.sysid=PE.supplier_sysid and type='supplier' and MC.isdeleted=0
    WHERE PE.isdeleted=0 and company_sysid=@companysysid
  AND                                    
   (                          
     @strSearchText='' OR                               
        (@strSearchBy='entry_date' AND convert(varchar(10),entry_date,105) LIKE '%'+@strSearchText+'%') OR    
	     (@strSearchBy='suppliername' AND MC.Name LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='purchaseno' AND purchaseno LIKE '%'+@strSearchText+'%')     
	 
   )        
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY SYS_id desc     
    
   ) sno,      
   sys_id,  
   purchaseno,    
  convert(varchar(10),entry_date,105)entrydate,
  (total-(select ISNULL(sum(amount),0) from PAYMENTS where trans_id=PE.sys_id and type='supplier' and isdeleted=0))balance,
  MC.Name,
  total,taxtype
   FROM PURCHASE_ENTRY PE
   INNER JOIN MasterCustomer MC on MC.sysid=PE.supplier_sysid and type='supplier' and MC.isdeleted=0
    WHERE PE.isdeleted=0 and company_sysid=@companysysid
            
   AND                                    
   (                          
     @strSearchText='' OR                               
    
	   (@strSearchBy='entry_date' AND convert(varchar(10),entry_date,105) LIKE '%'+@strSearchText+'%') OR    
	     (@strSearchBy='suppliername' AND MC.Name LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='purchaseno' AND purchaseno LIKE '%'+@strSearchText+'%')     
	 
	 )       
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 


GO
/****** Object:  StoredProcedure [dbo].[USP_GET_STOCKREPORT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[USP_GetCategorylist]    Script Date: 3/14/2020 8:59:07 AM ******/

-- =============================================      
-- Author:  <Author,,Name>      
-- Create date: <Create Date,,>      
-- Description: <Description,,>      
-- =============================================     
--exec USP_Getsparelist '1',5,'','','','','1'
CREATE PROCEDURE [dbo].[USP_GET_STOCKREPORT]      
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*) from MASTER_SPARE where isdeleted=0  and company_sysid=@companysysid   
  AND                                    
   (                          
     @strSearchText='' OR                               
       (@strSearchBy='sparename' AND sparename LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='hsncode' AND hsncode LIKE '%'+@strSearchText+'%')     
   )        
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY       
    CASE WHEN @strOrderBy='sysid' AND @strOrderdir='desc' then sysid end desc,CASE WHEN @strOrderBy='sysid' then sysid end,       
    CASE WHEN @strOrderBy='hsncode' AND @strOrderdir='desc' then hsncode end desc,CASE WHEN @strOrderBy='hsncode' then hsncode end,       
        CASE WHEN @strOrderBy='sparename' AND @strOrderdir='desc' then sparename end desc,CASE WHEN @strOrderBy='sparename' then sparename end  
     
   ) sno,      
   sysid,      
  sparename,hsncode,taxname,openingstock,ISNULL((ISNULL((openingstock),0)+ISNULL((stockinhand),0)),0)availbleqty from MASTER_SPARE where isdeleted=0 and company_sysid=@companysysid         
   AND                                    
   (                          
     @strSearchText='' OR                               
    
	   (@strSearchBy='sparename' AND sparename LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='hsncode' AND hsncode LIKE '%'+@strSearchText+'%')   
	 
	 )       
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 



GO
/****** Object:  StoredProcedure [dbo].[USP_Getsparelist]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[USP_GetCategorylist]    Script Date: 3/14/2020 8:59:07 AM ******/

-- =============================================      
-- Author:  <Author,,Name>      
-- Create date: <Create Date,,>      
-- Description: <Description,,>      
-- =============================================     
--exec USP_Getsparelist '1',5,'','','','','1'
CREATE PROCEDURE [dbo].[USP_Getsparelist]      
 @intPageNo as int,                               
 @intPageSize as int,                               
 @strSearchBy as varchar(MAX),                                   
 @strSearchText as varchar(MAX),      
 @strOrderBy as varchar(MAX),                                   
 @strOrderdir as varchar(MAX),
 @companysysid as int        
AS      
BEGIN      
    Declare @fromIdx as int                                    
    Declare @toIdx as int                      
    Declare @totalcount as int                                      
                                    
    Set @fromIdx = (@intPageNo-1) * @intPageSize+1;                                    
    Set @toIdx = (@intPageNo * @intPageSize);          
      
   SELECT @totalcount= COUNT(*) from MASTER_SPARE where isdeleted=0  and company_sysid=@companysysid   
  AND                                    
   (                          
     @strSearchText='' OR                               
      (@strSearchBy='sparename' AND sparename LIKE '%'+@strSearchText+'%') OR
	   (@strSearchBy='salesprice' AND salesprice LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='purchaseprice' AND purchaseprice LIKE '%'+@strSearchText+'%')       
   )        
   ;WITH TEMP AS                                  
   (      
    SELECT ROW_NUMBER() OVER( ORDER BY       
    CASE WHEN @strOrderBy='sysid' AND @strOrderdir='desc' then sysid end desc,CASE WHEN @strOrderBy='sysid' then sysid end,       
    CASE WHEN @strOrderBy='sparename' AND @strOrderdir='desc' then sparename end desc,CASE WHEN @strOrderBy='sparename' then sparename end,       
        CASE WHEN @strOrderBy='purchaseprice' AND @strOrderdir='desc' then purchaseprice end desc,CASE WHEN @strOrderBy='purchaseprice' then purchaseprice end,  
	CASE WHEN @strOrderBy='salesprice' AND @strOrderdir='desc' then salesprice end desc,CASE WHEN @strOrderBy='salesprice' then salesprice end      
   ) sno,      
   sysid,      
   sparename,description,purchaseprice,salesprice 
   FROM MASTER_SPARE WHERE isdeleted=0 and company_sysid=@companysysid         
   AND                                    
   (                          
     @strSearchText='' OR                               
     (@strSearchBy='sparename' AND sparename LIKE '%'+@strSearchText+'%') OR
	   (@strSearchBy='salesprice' AND salesprice LIKE '%'+@strSearchText+'%') OR    
      (@strSearchBy='purchaseprice' AND purchaseprice LIKE '%'+@strSearchText+'%')     
	 
	 )       
          
)        
SELECT * FROM TEMP WHERE SNo BETWEEN @fromIdx AND @toIdx         
select @totalcount c        
END 



GO
/****** Object:  StoredProcedure [dbo].[USP_PRODUCTMAP_EDIT]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================      
-- Author:  <Boopathi Sakthi>      
-- Create date: <29/07/2019>      
-- Description: <Description,,>      
-- =============================================      
-- exec Edit_Sales_List '1'      
create PROCEDURE [dbo].[USP_PRODUCTMAP_EDIT]      
@SYSID As Varchar(50)      
AS      
BEGIN      
BEGIN TRY   

 select * from PRODUCTMAP_ENTRY   
   WHERE 1=1 AND isdeleted=0 AND sysid=@SYSID      



select PD.sysid,PD.entry_sysid,PD.spare_sysid,PD.sparename,PD.hsncode,
PD.taxname,PD.taxid,MS.salesprice,qty,amount
 from PRODUCTMAP_DETAILS PD 
 inner join MASTER_SPARE MS ON MS.sysid=PD.spare_sysid and MS.isdeleted=0
  where PD.isdeleted=0 and entry_sysid=@SYSID


END TRY       







BEGIN CATCH      







 RAISERROR ('Error while excuting your request', 16,0)      







END CATCH      







END 



















GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GetCurrentStock]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================                
-- Author:  Boopathi                
-- Create date: 27-07-2019             
-- Description: Returns the Current stock of a particular product                
-- =============================================                
-- SELECT  dbo.Fn_GetCurrentStock(1,'01210-K24-900',1)                
CREATE FUNCTION [dbo].[Fn_GetCurrentStock]                
(                
 @COMPANY_SYS_ID AS INT,                
 @PART_NUMBER AS nvarchar(max),              
 @COMPANY_TYPE AS INT              
                 
)RETURNS VARCHAR(50)                
                
AS                
BEGIN                
  DECLARE @CURRENT_STOCK AS INT,                
  @PRODUCT_QTY AS INT,                  
  @SALES_QTY AS INT,          
  @PURCHASE_QTY AS INT,     
  @STOCK_INWARD_QTY AS INT,    
  @STOCK_OUTWARD_QTY AS INT,  
  @STOCK_COMMON_QTY AS INT,        
  @STOCK_COMMON_FROM_QTY AS INT ,      
  @STOCKTRANSFER_QTY AS INT             
  --@SALESRETURN_QTY AS INT                
                
   IF(@COMPANY_TYPE=1)              
   BEGIN            
               
  SELECT @PRODUCT_QTY= ISNULL(SUM(MP.stock),0) FROM MASTER_PRODUCT MP                 
  WHERE MP.company_sysid = @COMPANY_SYS_ID AND MP.ISDELETED=0 AND MP.partnumber=@PART_NUMBER         
        
   SELECT @PURCHASE_QTY= ISNULL(SUM(PD.qty),0) FROM PURCHASE_ENTRY PE                 
  INNER JOIN PURCHASE_DETAIL PD ON PE.SYS_ID = PD.entry_sysid AND PD.ISDELETED=0 AND PD.partnumber=@PART_NUMBER                
  AND PE.company_sysid = @COMPANY_SYS_ID AND PE.ISDELETED=0               
                
  SELECT @STOCK_INWARD_QTY=ISNULL(SUM(STD.transfer_qty),0) FROM STOCKTRANSFER_ENTRY ST                
  INNER JOIN STOCKTRANSFER_DETAIL STD ON ST.SYS_ID = STD.entry_sysid AND STD.ISDELETED=0 AND STD.partnumber=@PART_NUMBER              
  AND ST.to_company_sysid = @COMPANY_SYS_ID and transfer_status='Inward' AND ST.ISDELETED=0   
       
  SELECT @STOCK_OUTWARD_QTY=ISNULL(SUM(STD.transfer_qty),0) FROM STOCKTRANSFER_ENTRY ST                
  INNER JOIN STOCKTRANSFER_DETAIL STD ON ST.SYS_ID = STD.entry_sysid AND STD.ISDELETED=0 AND STD.partnumber=@PART_NUMBER              
  AND ST.from_company_sysid = @COMPANY_SYS_ID and transfer_status='Outward' AND ST.ISDELETED=0   
           
  SELECT @SALES_QTY=ISNULL(SUM(SD.sales_qty),0) FROM SALES_ENTRY SR                
  INNER JOIN SALES_DETAIL SD ON SR.SYS_ID = SD.entry_sysid AND SD.ISDELETED=0 AND SD.partnumber=@PART_NUMBER                
  AND SR.company_sysid = @COMPANY_SYS_ID AND SR.ISDELETED=0           
                  
   -- select   @CURRENT_STOCK=(@PRODUCT_QTY+@PURCHASE_QTY+@STOCK_INWARD_QTY)
                   
  SELECT @CURRENT_STOCK = (@PRODUCT_QTY+@PURCHASE_QTY+@STOCK_INWARD_QTY)-(@SALES_QTY+@STOCK_OUTWARD_QTY)             
             
  END              
  ELSE            
  BEGIN     
    
  SELECT @STOCK_OUTWARD_QTY=ISNULL(SUM(STD.transfer_qty),0) FROM STOCKTRANSFER_ENTRY ST                
  INNER JOIN STOCKTRANSFER_DETAIL STD ON ST.SYS_ID = STD.entry_sysid AND STD.ISDELETED=0 AND STD.partnumber=@PART_NUMBER              
  AND ST.to_company_sysid = @COMPANY_SYS_ID and transfer_status='Outward' AND ST.ISDELETED=0   
    
   SELECT @STOCK_COMMON_QTY=ISNULL(SUM(STD.transfer_qty),0) FROM STOCKTRANSFER_ENTRY ST                
  INNER JOIN STOCKTRANSFER_DETAIL STD ON ST.SYS_ID = STD.entry_sysid AND STD.ISDELETED=0 AND STD.partnumber='1'              
  AND ST.to_company_sysid = @COMPANY_SYS_ID and transfer_status='Common' AND ST.ISDELETED=0  
    
   SELECT @STOCK_COMMON_FROM_QTY=ISNULL(SUM(STD.transfer_qty),0) FROM STOCKTRANSFER_ENTRY ST                
  INNER JOIN STOCKTRANSFER_DETAIL STD ON ST.SYS_ID = STD.entry_sysid AND STD.ISDELETED=0 AND STD.partnumber='1'              
  AND ST.from_company_sysid = @COMPANY_SYS_ID and transfer_status='Common' AND ST.ISDELETED=0  
      
  SELECT @STOCK_INWARD_QTY=ISNULL(SUM(STD.transfer_qty),0) FROM STOCKTRANSFER_ENTRY ST                
  INNER JOIN STOCKTRANSFER_DETAIL STD ON ST.SYS_ID = STD.entry_sysid AND STD.ISDELETED=0 AND STD.partnumber=@PART_NUMBER              
  AND ST.from_company_sysid = @COMPANY_SYS_ID and transfer_status='Inward' AND ST.ISDELETED=0   
                
                
   SELECT @SALES_QTY=ISNULL(SUM(SD.sales_qty),0) FROM SALES_ENTRY SR                
   INNER JOIN SALES_DETAIL SD ON SR.SYS_ID = SD.entry_sysid AND SD.ISDELETED=0 AND SD.partnumber=@PART_NUMBER                
   AND SR.company_sysid = @COMPANY_SYS_ID AND SR.ISDELETED=0               
                  
                  
                   
  SELECT @CURRENT_STOCK = (@STOCK_OUTWARD_QTY+@STOCK_COMMON_QTY)-(@STOCK_COMMON_FROM_QTY+@STOCK_INWARD_QTY+@SALES_QTY)            
             
  END            
                  
    RETURN @CURRENT_STOCK                
END 



GO
/****** Object:  UserDefinedFunction [dbo].[FN_GetPayment_Edit]    Script Date: 4/16/2020 7:58:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[FN_GetPayment_Edit]
(	
	@billno as varchar(max)
)
RETURNS TABLE 
AS
RETURN 
(
	select sysid,billno,convert(varchar(10),billdate,101)billdate,type,typeid,mode,description,paidamount,trans_id,trans_no,convert(varchar(10),trans_date,101)trans_date,amount,balance,trans_total 
                    from PAYMENTS where billno=@billno
)



GO
