
@{
    ViewBag.Title = "ProductDetails";
}

<div class="row">
    <div class="col-xl-12">
        
        <div class="card m-t-30">
            <div class="card-heading ">
                <h3 class="card-title ">Product Details</h3>
                <div class="fa-pull-right panel-btns">
                    <button type="button" style="margin-top:-30px;" onclick="DownloadData()" class="btn btn-sm btn-secondary dwbtn"><i class="fa fa-download"></i> </button>
                    <button type="button" style="margin-top:-30px;" onclick="cleardata()" class="btn btn-secondary waves-effect btn-sm" data-toggle="modal" data-target="#con-close-modal1"><i class="fa fa-plus"></i>&nbsp;AddNew</button>

                    <button type="button" style="margin-top:-30px;" class="btn btn-secondary waves-effect btn-sm" data-toggle="modal" data-target="#con-close-modal"><i class="fa fa-plus"></i>&nbsp;Bulk Upload</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <select id="searchby" class="form-control">
                                    <option value="category">Category</option>
                                    <option value="partnumber">Partnumber</option>
                                    <option value="partdescription">PartDescripation</option>
                                    <option value="binlocation">Bin Location</option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="input-group">

                            <input type="text" id="searchtext" name="example-input1-group2" class="form-control" placeholder="Search...">
                            <span class="input-group-prepend">
                                <button type="button" id="btnSearch" class="btn waves-effect waves-light btn-info"><i class="fas fa-search"></i></button>
                            </span>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table id="Gvlist" class="table m-0 table-colored-bordered table-bordered-info table-sm" style="border-collapse: collapse; border-spacing: 0; width:100%;">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>part_category</th>
                                    <th>partnumber</th>
                                    <th>partdescription</th>
                                    <th>binlocation</th>
                                  
                                    <th>Edit</th>
                                    <th>Delete</th>

                                </tr>
                            </thead>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<form id="frm">
    <div id="con-close-modal1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title mt-0">Product Entry</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Part Number </label>
                                                <input type="tel" class="form-control  txtpartnumber" id="txtpartnumber" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Part Description </label>
                                                <input type="tel" class="form-control  txtpartdescription" id="txtpartdescription" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">PartCategory </label>
                                                <select id="ddlcategory" class="form-control">
                                                    <option value="">Select Category</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">BinLocation </label>
                                                <input type="tel" class="form-control  txtbinlocation" id="txtbinlocation" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Opening Stock </label>
                                                <input type="hidden" id="hfqty" />
                                                <input type="tel" class="form-control  txtstockqty" value="0" id="txtstockqty" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <input type="hidden" id="hfsysid" />
                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>

                                <button type="button" onclick="return Add()" class="btn btn-info waves-effect waves-light">Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
<div id="con-close-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title mt-0">Bulk Upload</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                        
                    <h3><label id="wait" class="text-danger text-center">Please Wait ....</label></h3>
                </div>
                <div id="FileBrowse">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-4">
                                <h4 class="header-title m-t-0 m-b-20">Pick Your File</h4>
                                <input type="file" id="Fileupload" class="dropify" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div id="progressbar-5">
                            <div class="progress-label">
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            <div class="modal-footer ">


                <a href="~/App_Files/Samble Excels/Product Upload.xlsx" data-tagle="Samble Download" class="btn btn-icon waves-effect btn-secondary "><i class="ion ion-md-arrow-round-down"></i></a>
                <button type="submit" onclick="return Uploadbulkexcel()" class="btn btn-info waves-effect waves-light">Upload</button>

            </div>
        </div>
    </div>
</div>
@section scripts{
<script src="~/Pagescripts/Product/Product.js"></script>
}