
@{
    ViewBag.Title = "Dashboard";
}



<div class="row dashboard">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Dashboard </h4>
            @*<ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item">
                    <a href="#">Zircos</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Dashboard </a>
                </li>
                <li class="breadcrumb-item active">
                    Dashboard 2
                </li>
            </ol>*@
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row dashboard">

    <div class="col-xl-2 col-md-4">
        <div class="card-box widget-box-two widget-two-primary">
            <i class="mdi mdi-chart-areaspline widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">Total Sales</p>
                <h2><span  id="lbltotalsales"></span> <small><i class=""></i></small></h2>
                @*<p class="text-muted m-0"><b>Last:</b> 30.4k</p>*@
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-2 col-md-4">
        <div class="card-box widget-box-two widget-two-warning">
            <i class= "mdi mdi-cart-arrow-right widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User This Month">Total Purchase</p>
                <h2><span id="lbltotalpurchase"></span> <small><i class=""></i></small></h2>
                @*<p class="text-muted m-0"><b>Last:</b> 40.33k</p>*@
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-2 col-md-4">
        <div class="card-box widget-box-two widget-two-danger">
            <i class="mdi mdi-access-point-network widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="Statistics">Total Expense</p>
                <h2><span  id="lbltotalexpense">0</span> <small><i class=""></i></small></h2>
                @*<p class="text-muted m-0"><b>Last:</b> 30.4k</p>*@
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-2 col-md-4">
        <div class="card-box widget-box-two widget-two-success">
            <i class=" mdi mdi-cash-usd widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">Profit</p>
                <h2><span id="lblprofit">0 </span> <small><i class=""></i></small></h2>
                @*<p class="text-muted m-0"><b>Last:</b> 1250</p>*@
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-2 col-md-4">
        <div class="card-box widget-box-two widget-two-default  ">
            <i class="mdi mdi-account-convert widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">Total Supplier</p>
                <h2><span id="lblsuppliercount">0 </span> <small><i class=""></i></small></h2>
                @*<p class="text-muted m-0"><b>Last:</b> 1250</p>*@
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-2 col-md-4">
        <div class="card-box widget-box-two widget-two-default">
            <i class="mdi mdi-account-convert widget-two-icon"></i>
            <div class="wigdet-two-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow" title="User Today">Total Dealer</p>
                <h2><span  id="lblsalescount">0 </span> <small><i class=""></i></small></h2>
                @*<p class="text-muted m-0"><b>Last:</b> 1250</p>*@
            </div>
        </div>
    </div><!-- end col -->
   
</div>
<!-- end row -->
<div class="row dashboard">

    <div class="col-lg-3">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">Outof Stock List</h4>

            <div class="inbox-widget slimscroll-alt"  id="divfreq" style="min-height: 372px;">
               
            </div>

        </div> <!-- end card -->
    </div>
    </div>
    <!-- end col -->

    @section scripts
{
        <script>
            $(document).ready(function () {
                $('.dashboard').hide()
            })
        </script>
        <script src="~/Pagescripts/Commonfiles/Dashboard.js"></script>
        <!-- Counter js  -->
        <script src="/plugins/waypoints/jquery.waypoints.min.js"></script>
        <script src="/plugins/counterup/jquery.counterup.min.js"></script>
    }
