
@{
    ViewBag.Title = "List";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card m-t-30">
            <div class="card-heading bg-info">

                <div class="card-title text-white">User List</div>
                <div class="fa-pull-right panel-btns">
                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" onclick="Add()"><i class="fa fa-plus"></i>&nbsp;Add</button>
                    @*@Html.ActionLink("Add", "Index", "Master",null, new { sys_id =0 , @class = "btn btn-primary btn-sm waves-effect waves-light" })*@
                </div>
                </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table id="gvproductlist" class="table m-0 table-colored-bordered table-bordered-success" style="border-collapse: collapse; border-spacing: 0; width:100%;">
                            <thead>
                                <tr>
                                    <th>Sno</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Edit</th>
                                    <th>Del</th>
                                </tr>
                            </thead>
                        </table>
                    </div>


                </div>
            </div>
            </div>
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(function () {
            LoadData();

        })
        function cleardata() {
            $('#name').val("");
            $('#mobile').val("");
            $('#email').val("");
            $('[id$=Usertype]').val("");
            $('[id$=hfsysid]').val("");
            $('#logname').val("");
            $('#pwd').val("");
            $('[id$=hfsysid]').val("");
        }

        function Add() {
          //  alert("one");
           window.location.href = '/Master/Index'

        }
        function LoadData() {

            $("#gvproductlist").dataTable().fnDestroy();
            $('#gvproductlist').DataTable({
                "ajax": {
                    "url": "/Master/Getlist",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "SNO", "name": "SNO", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "Mobile", "name": "Mobile", "autoWidth": true },
                          {
                              "data": "SysId", "width": "50px", "render": function (data) {
                                  return '<a href=' + '@Url.Action("Index", "Master")?id=' + data + '>Edit</a>';
                             
                           }
                       },
                    {
                        "data": "SysId", "width": "50px", "render": function (data) {
                            return '<a "padding:1px;" class="on-default remove-row" href="#" onclick="return Delete(' + data + ',this)"><i style="color:teal;" class="fas fa-trash-alt"></i></a>';
                        }
                    }
                ],
                "serverSide": "true",
                "order": [0, "desc"],
                "dom": '<"top">rt<"bottom"<"row"<"col-md-2"l><"col-md-3"i><"col-md-4"p>>><"clear">',
                "processing": "true",
                "language": {
                    "processing": "processing ... please wait"
                }
            });
            oTable = $('#gvproductlist').DataTable();
            $('#btnSearch').click(function () {
                //Apply search for Employee Name // DataTable column index 0
                oTable.columns(0).search($('#searchby').val().trim());
                //Apply search for Country // DataTable column index 3
                oTable.columns(3).search($('#searchtext').val().trim());
                //hit search on server
                oTable.draw();
            });
        }


        //edit
        function getbyID(SysId) {
            var sys_id = SysId;
            try {
                $.ajax({
                    url: '/Master/Index',
                    data: "{ 'sys_id': '" + sys_id + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (Data) {

                    
                    },
                    error: function (response) {
                        var parsed = JSON.parse(response.responseText);
                        Error_Msg(parsed.Message);
                        d.resolve();
                    },
                    failure: function (response) {
                        var parsed = JSON.parse(response.responseText);
                        Error_Msg(parsed.Message);
                        d.resolve();
                    }
                });
            } catch (e) {

            }


        }


        // function for deleting employee's record
        function Delete(ID) {
            swal({
                title: "Please Confirm?",
                text: 'Are you sure Do you want delete  From List..!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-success',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: "No, cancel it!",

            }).then(function (dismiss) {
                // var array= (dismiss).serializeArray();
                var one = JSON.stringify(dismiss);
                if (one == '{"dismiss":"cancel"}') {
                    swal(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
                else {
                    $.ajax({
                        url: "/Master/Delete/" + ID,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {
                            if (result.Status == true) {

                                toastr.success(result.Message);
                                LoadData();

                            }
                            else {
                                toastr.error(result.Message);
                            }
                        },
                        error: function (errormessage) {
                            toastr.error(errormessage.responseText);
                        }
                    });
                }
            }

       )
        };



    </script>
}

