
@{
    ViewBag.Title = "StockList";
}
<div class="row">
    <div class="col-xl-12">


        <div class="row stocklist">


            <div class="col-xl-12">
                <div class="card m-t-30">
                    <div class="card-heading bg-white">
                        <h3 class="card-title ">ExenseList</h3>
                        <div class="fa-pull-right panel-btns">

                            <button type="button" style="margin-top:-30px;" onclick="show()" class="btn btn-secondary waves-effect btn-sm" data-toggle="modal" data-target="#con-close-modal1"><i class="fa fa-plus"></i>&nbsp;AddNew</button>


                        </div>
                    </div>

                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <select id="searchby" class="form-control">
                                            <option value="entrydate">Entrydate</option>
                                            <option value="purchaseprice">Description</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" id="searchtext" name="example-input1-group2" class="form-control" placeholder="Search...">
                                    <span class="input-group-prepend">
                                        <button type="button" id="btnSearch" class="btn waves-effect waves-light btn-info"><i class="fas fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                               
                                <table id="Gvlist" class="table m-0 table-sm table-colored-bordered table-bordered-info" style="border-collapse: collapse; border-spacing: 0; width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Sno</th>
                                            <th>Entry Date</th>
                                            <th>Description</th>
                                            <th>Total Amount</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row stockentry">

            <div class="col-md-12">

                <div class="card m-t-30">
                    <div class="card-heading">
                        <h3 class="card-title">Expense Entry</h3>
                    </div>

                    <div class="col-md-12">
                        <div class="card-body">
                            @using (Html.BeginForm("Index", null, FormMethod.Post, new { name = "frm", id = "frm" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <label class="control-label">EntryDate:</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control  datepicker-autoclose clear" placeholder="mm/dd/yyyy" id="txtentrydate">
                                                <div class="input-group-append">
                                                    <span class="input-group-text bg-custom text-white b-0"><i class="mdi mdi-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Description:</label>
                                            <input type="text" id="txtdesc" class="form-control" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12  table-responsive">
                                        <div class="fa-pull-right panel-btns">
                                            <h4>Total Amount : <label id="lbltotal">0.00</label></h4>
                                            <input type="hidden" id="hftotal" />
                                        </div>
                                        <table id="detailsTable" class="table m-0 table-colored-bordered table-bordered-info" style="border-collapse: collapse; border-spacing: 0; width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>S.no</th>
                                                    <th>Expense Name</th>
                                                    <th>Expense Description</th>
                                                    <th>Paymode</th>
                                                    <th>Refrense</th>
                                                    <th>Amount</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="trbody">
                                                    <td class="sno">1</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="hidden" id="hfdetailsysid" class="hfdetailsysid  form-control" />
                                                            <select  class="form-control ddl ddlexpanse"></select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="txtexpansedesc form-control" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <select class="form-control ddl ddlpaymode">
                                                                <option value="Cash">Cash</option>
                                                                <option value="Account">Account</option>
                                                                <option value="Cheque">Cheque</option>
                                                                <option value="Neft">Neft</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" class="txtrefrense textrequired form-control" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group">
                                                            <input type="text" value="0.00" onblur="calatotalamount(this)" class="txtamount decimal textrequired form-control" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button type='button'
                                                                value='Delete' class="btn btn-icon btn-danger del">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                        <span class='label  lbldel' style='display: none;'>Deleted</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7">
                                                        <div class="fa-pull-right">
                                                            <button type="button" id="InsertRow" class="btn btn-sm btn-success Footer" onclick="Add_Rows()"><i class="fa fa-plus-circle"></i>&nbsp;Add Item</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <input type="hidden" id="hfsysid" />
                                <br />
                                <div class="text-center">
                                    <button type="button" onclick="saveprocess()" id="btnsave" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5"><i class="fa fa-save"></i>&nbsp;Save</button>
                                    <button type="button" onclick="closedata()" class="btn btn-warning  btn-rounded w-md waves-effect waves-light m-b-5"><i class="fas fa-quidditch"></i>&nbsp;Close</button>
                                </div>
                            }
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/Pagescripts/Expense/Expense.js"></script>

    }
